name: Publish Docker image
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Push Docker image to Docker Hub
    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: cesieat
          password: 8edf2c31-a57e-49af-98f5-e8665b3c81d0
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        id: docker_build
        env:
          MONGO_ADMIN: ${{ secrets.MONGO_ADMIN }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: cesieat/node-api:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
