name: Publish Docker image
on: push
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: debian-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: cesieat
          password: poiuytr
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: cesieat/node-api:latest
